<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>

<body>
    <h1><?=$this->get('title');?></h1>
    <ul>
        <li><a href="<?=$address?>home">HOME</a></li>
        <li><a href="<?=$address?>contact">CONTACT</a></li>
        <li><a href="<?=$address?>article">ARTICLE</a></li>
        <li><a href="<?=$address?>info">INFO</a></li>
    </ul>
    <p>tajne dane!</p>

</body>

</html>